
@media only screen and (max-width: 1200px){
    body{
        width: 100%;
    }
}  
  @media only screen and (min-width: 600px) {
      body{
          width: 100%;
          overflow: hidden;
          /* background-color: lightcoral; */
      /* }
      .header{
          width: 100%;
          display: block;
      }
      .First_header_part{
          width: 100%;
          display: block; */
          /* height: 150px; */
          /* overflow: hidden; */
          /* display: flex;
          flex-direction: column;
          flex-wrap: wrap; */
      /* }
      .social ul{
          width: 100%;
          text-align: center !important;
      } */
      /* .social ul{
          display: inline-flex;
          margin: 0;
          padding: auto; */
      /* }
      .aaa{
        width: 100%;
        display: block;
           /* display: flex;
           padding-left: 20px; */
           /* text-align: center !important;
      }
      .aaaa{
          width: 100%;
          text-align: center;
      }
      .aaaaa{
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        top: 95px;
        left: -1; */
      /* } */
      /* .second_header_part{
          width: 100%;
          overflow: hidden;
      }
      .navigation{
        float: right;
        display: block;
        text-align: right;
      } */
      /* .navigation */ 
      /* .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .navigation {
        float: none;
      } */


  // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  body{
    width: 100%;
    box-sizing: box-sizing: ;;
  }
  .header{
    width: 100%;
    display: block;
  }
  .First_header_part{
    display: block;
    width: 100%;
  }
  .social ul{
    display: block;
    width: 100%;
    text-align: center !important;
    overflow: hidden;
  }
  /* .aaa{
    width: 100%;
    text-align: center !important; */
    /* position: relative;
    top:0; */

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }